{erl_opts, [debug_info]}.

{sasl, [{errlog_type, error}]}.

{deps, [
    {ranch, "1.7.1"},
    {cowboy, "2.6.1"},
    {sync, ".*", {git, "https://github.com/rustyio/sync", {branch,"master"}}},
    {backoff, "~> 1.1.6"},
    {telemetry, "~> 0.3.0"}
]}.

{shell, [{apps, [pg_http]},
         {config, "config/example.config"}
]}.

{sync, [
    {src_dirs, {replace, [{"./src"}]}}
]}.