{erl_opts, [debug_info]}.
{deps, [
    {ranch, "1.7.1"},
    {cowboy, "2.6.1"},
    {epgsql, ".*", {git, "https://github.com/epgsql/epgsql", {branch, "devel"}}},
    {sync, ".*", {git, "https://github.com/rustyio/sync", {branch,"master"}}}
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [prx]}
]}.
{sync, [
    {src_dirs, {replace, [{"./src"}]}}
]}.